@font-face {
    font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_1675895_lhriygpn08.woff?t=1585221289938') format('woff')
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-PSB:before {
    content: "\e65e";
}

.icon-Sortingmember:before {
    content: "\e65f";
}

.icon-copy:before {
    content: "\e65d";
}

.icon-Shutdown:before {
    content: "\e65c";
}

.icon-Aplussign:before {
    content: "\e65b";
}

.icon-baoyu:before {
    content: "\e650";
}

.icon-dayu:before {
    content: "\e651";
}

.icon-lei:before {
    content: "\e652";
}

.icon-feng:before {
    content: "\e653";
}

.icon-duoyun:before {
    content: "\e654";
}

.icon-qing:before {
    content: "\e655";
}

.icon-yu:before {
    content: "\e656";
}

.icon-yujialei:before {
    content: "\e657";
}

.icon-xiaoyu:before {
    content: "\e658";
}

.icon-xue:before {
    content: "\e659";
}

.icon-yun:before {
    content: "\e65a";
}

.icon-lianjie:before {
    content: "\e649";
}

.icon-shanchu:before {
    content: "\e64a";
}

.icon-xiabiao:before {
    content: "\e64b";
}

.icon-yiwen:before {
    content: "\e64c";
}

.icon-bianji:before {
    content: "\e64d";
}

.icon-sousuo:before {
    content: "\e64e";
}

.icon-zuobiao:before {
    content: "\e64f";
}

.icon-zuojiant:before {
    content: "\e647";
}

.icon-xiala:before {
    content: "\e648";
}

.icon-huojia:before {
    content: "\e641";
}

.icon-guidao:before {
    content: "\e643";
}

.icon-zuidatuntuliang:before {
    content: "\e644";
}

.icon-bozhongqiang:before {
    content: "\e645";
}

.icon-shezhi:before {
    content: "\e646";
}
